ProtoBuf.Wcf.Tests/Service References/TestService/TestService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12034/TestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProtoBuf.Wcf.Sample" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfstringBigContractZLT1GizP">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringBigContractZLT1GizP">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProtoBuf.Wcf.Sample" name="Value" nillable="true" type="q1:BigContract" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringBigContractZLT1GizP" nillable="true" type="tns:ArrayOfKeyValueOfstringBigContractZLT1GizP" />
  <xs:complexType name="ArrayOfKeyValueOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringstring">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringstring" nillable="true" type="tns:ArrayOfKeyValueOfstringstring" />
  <xs:complexType name="ArrayOfKeyValueOfCompositeTypeBigContract43a_Pw8mU">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfCompositeTypeBigContract43a_Pw8mU">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProtoBuf.Wcf.Sample" name="Key" nillable="true" type="q2:CompositeType" />
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProtoBuf.Wcf.Sample" name="Value" nillable="true" type="q3:BigContract" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfCompositeTypeBigContract43a_Pw8mU" nillable="true" type="tns:ArrayOfKeyValueOfCompositeTypeBigContract43a_Pw8mU" />
  <xs:complexType name="ArrayOfKeyValueOfCompositeTypeArrayOfBigContract43a_Pw8mU">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfCompositeTypeArrayOfBigContract43a_Pw8mU">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProtoBuf.Wcf.Sample" name="Key" nillable="true" type="q4:CompositeType" />
            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProtoBuf.Wcf.Sample" name="Value" nillable="true" type="q5:ArrayOfBigContract" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfCompositeTypeArrayOfBigContract43a_Pw8mU" nillable="true" type="tns:ArrayOfKeyValueOfCompositeTypeArrayOfBigContract43a_Pw8mU" />
</xs:schema>