ProtoBuf.Wcf.Tests/Service References/TestService/TestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProtoBuf.Wcf.Sample" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProtoBuf.Wcf.Sample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="BigContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompositeTypes" nillable="true" type="tns:ArrayOfCompositeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BigContract" nillable="true" type="tns:BigContract" />
  <xs:complexType name="ArrayOfCompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeType" nillable="true" type="tns:CompositeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeType" nillable="true" type="tns:ArrayOfCompositeType" />
  <xs:complexType name="ArrayOfBigContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BigContract" nillable="true" type="tns:BigContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBigContract" nillable="true" type="tns:ArrayOfBigContract" />
</xs:schema>